extends dashboard-layout.pug

block main
  // End Navbar
  .panel-header.panel-header-lg
    canvas#bigDashboardChart
  .content
    .row
      .col-lg-4
        .card.card-chart
          .card-header
            h5.card-category Burma-Hills
            h4.card-title Notifications Stats
            .dropdown
              button.btn.btn-round.btn-default.dropdown-toggle.btn-simple.btn-icon.no-caret(type='button', data-toggle='dropdown')
                i.now-ui-icons.loader_gear
              .dropdown-menu.dropdown-menu-right
                a.dropdown-item(href='#') Action
                a.dropdown-item(href='#') Another action
                a.dropdown-item(href='#') Something else here
                a.dropdown-item.text-danger(href='#') Remove Data
          .card-body
            .chart-area
              canvas#lineChartExample
          .card-footer
            .stats
              i.now-ui-icons.arrows-1_refresh-69
              |  Just Updated
      .col-lg-4.col-md-6
        .card.card-chart
          .card-header
            h5.card-category Burma-Hills
            h4.card-title Event Attendance
            .dropdown
              button.btn.btn-round.btn-default.dropdown-toggle.btn-simple.btn-icon.no-caret(type='button', data-toggle='dropdown')
                i.now-ui-icons.loader_gear
              .dropdown-menu.dropdown-menu-right
                a.dropdown-item(href='#') Action
                a.dropdown-item(href='#') Another action
                a.dropdown-item(href='#') Something else here
                a.dropdown-item.text-danger(href='#') Remove Data
          .card-body
            .chart-area
              canvas#lineChartExampleWithNumbersAndGrid
          .card-footer
            .stats
              i.now-ui-icons.arrows-1_refresh-69
              |  Just Updated
      .col-lg-4.col-md-6
        .card.card-chart
          .card-header
            h5.card-category Burma-Hills
            h4.card-title Dues and Contributions
          .card-body
            .chart-area
              canvas#barChartSimpleGradientsNumbers
          .card-footer
            .stats
              i.now-ui-icons.ui-2_time-alarm
              |  Last 7 days
    .row
      .col-md-6
        .card.card-tasks
          .card-header
            h5.card-category Burma-Hills
            h4.card-title Upcoming Events
          .card-body
            .table-full-width.table-responsive
              table.table
                tbody
                  tr
                    td
                      .form-check
                        label.form-check-label
                          input.form-check-input(type='checkbox', checked='')
                          span.form-check-sign
                    td.text-left Naming Ceremony at House No. 887/6
                    td.td-actions.text-right
                      button.btn.btn-info.btn-round.btn-icon.btn-icon-mini.btn-neutral(type='button', rel='tooltip', title='', data-original-title='Edit Task')
                        i.now-ui-icons.ui-2_settings-90
                      button.btn.btn-danger.btn-round.btn-icon.btn-icon-mini.btn-neutral(type='button', rel='tooltip', title='', data-original-title='Remove')
                        i.now-ui-icons.ui-1_simple-remove
                  tr
                    td
                      .form-check
                        label.form-check-label
                          input.form-check-input(type='checkbox')
                          span.form-check-sign
                    td.text-left Mr. Adissons Birthday
                    td.td-actions.text-right
                      button.btn.btn-info.btn-round.btn-icon.btn-icon-mini.btn-neutral(type='button', rel='tooltip', title='', data-original-title='Edit Task')
                        i.now-ui-icons.ui-2_settings-90
                      button.btn.btn-danger.btn-round.btn-icon.btn-icon-mini.btn-neutral(type='button', rel='tooltip', title='', data-original-title='Remove')
                        i.now-ui-icons.ui-1_simple-remove
                  tr
                    td
                      .form-check
                        label.form-check-label
                          input.form-check-input(type='checkbox', checked='')
                          span.form-check-sign
                    td.text-left
                      | General Developmental meeting
                    td.td-actions.text-right
                      button.btn.btn-info.btn-round.btn-icon.btn-icon-mini.btn-neutral(type='button', rel='tooltip', title='', data-original-title='Edit Task')
                        i.now-ui-icons.ui-2_settings-90
                      button.btn.btn-danger.btn-round.btn-icon.btn-icon-mini.btn-neutral(type='button', rel='tooltip', title='', data-original-title='Remove')
                        i.now-ui-icons.ui-1_simple-remove
                  tr
                    td
                      .form-check
                        label.form-check-label
                          input.form-check-input(type='checkbox', checked='')
                          span.form-check-sign
                    td.text-left Naming Ceremony at House No. 887/6
                    td.td-actions.text-right
                      button.btn.btn-info.btn-round.btn-icon.btn-icon-mini.btn-neutral(type='button', rel='tooltip', title='', data-original-title='Edit Task')
                        i.now-ui-icons.ui-2_settings-90
                      button.btn.btn-danger.btn-round.btn-icon.btn-icon-mini.btn-neutral(type='button', rel='tooltip', title='', data-original-title='Remove')
                        i.now-ui-icons.ui-1_simple-remove
                  tr
                    td
                      .form-check
                        label.form-check-label
                          input.form-check-input(type='checkbox')
                          span.form-check-sign
                    td.text-left Mr. Adissons Birthday
                    td.td-actions.text-right
                      button.btn.btn-info.btn-round.btn-icon.btn-icon-mini.btn-neutral(type='button', rel='tooltip', title='', data-original-title='Edit Task')
                        i.now-ui-icons.ui-2_settings-90
                      button.btn.btn-danger.btn-round.btn-icon.btn-icon-mini.btn-neutral(type='button', rel='tooltip', title='', data-original-title='Remove')
                        i.now-ui-icons.ui-1_simple-remove
                  tr
                    td
                      .form-check
                        label.form-check-label
                          input.form-check-input(type='checkbox', checked='')
                          span.form-check-sign
                    td.text-left
                      | General Developmental meeting
                    td.td-actions.text-right
                      button.btn.btn-info.btn-round.btn-icon.btn-icon-mini.btn-neutral(type='button', rel='tooltip', title='', data-original-title='Edit Task')
                        i.now-ui-icons.ui-2_settings-90
                      button.btn.btn-danger.btn-round.btn-icon.btn-icon-mini.btn-neutral(type='button', rel='tooltip', title='', data-original-title='Remove')
                        i.now-ui-icons.ui-1_simple-remove
          .card-footer
            hr
            .stats
              i.now-ui-icons.loader_refresh.spin
              |  Updated 3 minutes ago
      .col-md-6
        .card
          .card-header
            h5.card-category Burma-Hills
            h4.card-title  My Neighbours
          .card-body
            .table-responsive
              table.table
                thead.text-primary
                  tr
                    th
                      | Name
                    th
                      | Telephone 
                    th
                      | Email
                    th.text-right
                      | House No.
                tbody
                  tr
                    td
                      | Mr. Havey Ansah
                    td
                      | 05467381291
                    td
                      | haveymills@gmail.com
                    td.text-right
                      | 005
                  tr
                    td
                      | Treasure Johnson
                    td
                      | 05467381291
                    td
                      | johnsonlaker@gmail.com
                    td.text-right
                      | 003
                  tr
                    td
                      | Mr. Appiah Dumfo
                    td
                      | 0246378957
                    td
                      | dappuiah@gmail.com
                    td.text-right
                      | 001
                  tr
                    td
                      | Mr. Havey Ansah
                    td
                      | 05467381291
                    td
                      | haveymills@gmail.com
                    td.text-right
                      | 005
                  tr
                    td
                      | Treasure Johnson
                    td
                      | 05467381291
                    td
                      | johnsonlaker@gmail.com
                    td.text-right
                      | 003
                  tr
                    td
                      | Mr. Appiah Dumfo
                    td
                      | 0246378957
                    td
                      | dappuiah@gmail.com
                    td.text-right
                      | 001
                  
block scripts
  script.
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();
    });
