extends dashboard-layout.pug

block main
  // End Navbar
  .panel-header.panel-header-sm
  .content
    .row
      .col-md-12
        .card.card-tasks
          .card-header
            h5.card-category Burma-Hills
            h4.card-title Upcoming Events
          .card-body
            .table-full-width.table-responsive
              table.table
                tbody
                  tr
                    td
                      .form-check
                        label.form-check-label
                          input.form-check-input(type='checkbox', checked='')
                          span.form-check-sign
                    td.text-left Naming Ceremony at House No. 887/6
                    td.td-actions.text-right
                      button.btn.btn-info.btn-round.btn-icon.btn-icon-mini.btn-neutral(type='button', rel='tooltip', title='', data-original-title='Edit Task')
                        i.now-ui-icons.ui-2_settings-90
                      button.btn.btn-danger.btn-round.btn-icon.btn-icon-mini.btn-neutral(type='button', rel='tooltip', title='', data-original-title='Remove')
                        i.now-ui-icons.ui-1_simple-remove
                  tr
                    td
                      .form-check
                        label.form-check-label
                          input.form-check-input(type='checkbox')
                          span.form-check-sign
                    td.text-left Mr. Adissons Birthday
                    td.td-actions.text-right
                      button.btn.btn-info.btn-round.btn-icon.btn-icon-mini.btn-neutral(type='button', rel='tooltip', title='', data-original-title='Edit Task')
                        i.now-ui-icons.ui-2_settings-90
                      button.btn.btn-danger.btn-round.btn-icon.btn-icon-mini.btn-neutral(type='button', rel='tooltip', title='', data-original-title='Remove')
                        i.now-ui-icons.ui-1_simple-remove
                  tr
                    td
                      .form-check
                        label.form-check-label
                          input.form-check-input(type='checkbox', checked='')
                          span.form-check-sign
                    td.text-left
                      | General Developmental meeting
                    td.td-actions.text-right
                      button.btn.btn-info.btn-round.btn-icon.btn-icon-mini.btn-neutral(type='button', rel='tooltip', title='', data-original-title='Edit Task')
                        i.now-ui-icons.ui-2_settings-90
                      button.btn.btn-danger.btn-round.btn-icon.btn-icon-mini.btn-neutral(type='button', rel='tooltip', title='', data-original-title='Remove')
                        i.now-ui-icons.ui-1_simple-remove
                  tr
                    td
                      .form-check
                        label.form-check-label
                          input.form-check-input(type='checkbox', checked='')
                          span.form-check-sign
                    td.text-left Naming Ceremony at House No. 887/6
                    td.td-actions.text-right
                      button.btn.btn-info.btn-round.btn-icon.btn-icon-mini.btn-neutral(type='button', rel='tooltip', title='', data-original-title='Edit Task')
                        i.now-ui-icons.ui-2_settings-90
                      button.btn.btn-danger.btn-round.btn-icon.btn-icon-mini.btn-neutral(type='button', rel='tooltip', title='', data-original-title='Remove')
                        i.now-ui-icons.ui-1_simple-remove
                  tr
                    td
                      .form-check
                        label.form-check-label
                          input.form-check-input(type='checkbox')
                          span.form-check-sign
                    td.text-left Mr. Adissons Birthday
                    td.td-actions.text-right
                      button.btn.btn-info.btn-round.btn-icon.btn-icon-mini.btn-neutral(type='button', rel='tooltip', title='', data-original-title='Edit Task')
                        i.now-ui-icons.ui-2_settings-90
                      button.btn.btn-danger.btn-round.btn-icon.btn-icon-mini.btn-neutral(type='button', rel='tooltip', title='', data-original-title='Remove')
                        i.now-ui-icons.ui-1_simple-remove