extends dashboard-layout.pug

block main
  // End Navbar
  .panel-header.panel-header-sm
  .content
    .row
      .col-md-12
        .card.card-tasks
          .card-header
            h5.card-category Burma-Hills
            .card-layer
              h4.card-title Gallery
              button.btn.btn-success.btn-round(type='button')
                i.now-ui-icons.arrows-1_cloud-upload-94
                | &nbsp Add Photo
          .card-body
            .row.event-cards
              .col-md-4
                .card
                  img.card-img-top(src='/assets/img/bg1.jpg', alt='Image Gallery')
                  .card-body
                    p.card-text
                      | Uploaded 3 days ago
                    .photo-control 
                      a.btn.btn-success.btn-round(href='')
                        | Replace &nbsp &nbsp
                        i.now-ui-icons.loader_refresh
                      a.btn.btn-round.btn-default(href='')
                        | Remove &nbsp &nbsp
                        i.now-ui-icons.ui-1_simple-remove
              .col-md-4
                .card
                  img.card-img-top(src='/assets/img/bg7.jpg', alt='Image Gallery')
                  .card-body
                    p.card-text
                      | Uploaded 3 days ago
                    .photo-control 
                      a.btn.btn-success.btn-round(href='')
                        | Replace &nbsp &nbsp
                        i.now-ui-icons.loader_refresh
                      a.btn.btn-danger.btn-round(href='')
                        | Remove &nbsp &nbsp
                        i.now-ui-icons.ui-1_simple-remove
              .col-md-4
                .card
                  img.card-img-top(src='/assets/img/bg8.jpg', alt='Image Gallery')
                  .card-body
                    p.card-text
                      | Uploaded 3 days ago
                    .photo-control 
                      a.btn.btn-success.btn-round(href='')
                        | Replace &nbsp &nbsp
                        i.now-ui-icons.loader_refresh
                      a.btn.btn-danger.btn-round(href='')
                        | Remove &nbsp &nbsp
                        i.now-ui-icons.ui-1_simple-remove
              .col-md-4
                .card
                  img.card-img-top(src='/assets/img/bg3.jpg', alt='Image Gallery')
                  .card-body
                    p.card-text
                      | Uploaded 3 days ago
                    .photo-control 
                      a.btn.btn-success.btn-round(href='')
                        | Replace &nbsp &nbsp
                        i.now-ui-icons.loader_refresh
                      a.btn.btn-danger.btn-round(href='')
                        | Remove &nbsp &nbsp
                        i.now-ui-icons.ui-1_simple-remove
              .col-md-4
                .card
                  img.card-img-top(src='/assets/img/bg6.jpg', alt='Image Gallery')
                  .card-body
                    p.card-text
                      | Uploaded 3 days ago
                    .photo-control 
                      a.btn.btn-success.btn-round(href='')
                        | Replace &nbsp &nbsp
                        i.now-ui-icons.loader_refresh
                      a.btn.btn-danger.btn-round(href='')
                        | Remove &nbsp &nbsp
                        i.now-ui-icons.ui-1_simple-remove
              .col-md-4
                .card
                  img.card-img-top(src='/assets/img/bg11.jpg', alt='Image Gallery')
                  .card-body
                    p.card-text
                      | Uploaded 3 days ago
                    .photo-control 
                      a.btn.btn-success.btn-round(href='')
                        | Replace &nbsp &nbsp
                        i.now-ui-icons.loader_refresh
                      a.btn.btn-danger.btn-round(href='')
                        | Remove &nbsp &nbsp
                        i.now-ui-icons.ui-1_simple-remove
                      
              